body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

.Content-container {
  width: 800px
}

.Header {
  background-color: lightblue;
}

.Name {
  font-size: 1em;  
}

.Intro-container {
  background-color: lightcyan;
}

.Stock-name {
  padding: 1%;
  margin: 0;
  font-size: 2.5em;
}

.Quote-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.Quote-info {
  margin-bottom: 1%;
  padding-right: 2%;
  padding-left: 1%;
  font-size: 1.25em;
}

.Sentiment {
  padding-left: 1%;
  margin: 0;
  padding-bottom: 1%;
  font-size: 1.25em;
}

.Pos-sentiment-value {
  color: green;
}

.Neg-sentiment-value {
  color: red;
}

.Def-sentiment-value {
  color: grey
}

.News-container {
  width: 100%
}

.Company-news-header {
  padding: 1% 0 0 0;
  margin: 0;
}

.News-article-1 {
  background-color: lightslategray;
  width: 800px;
  margin: 2%;
  overflow: hidden;
}

.Article-img {
  width: 100%;
}

.Article-description {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.Headline {
  font-size: 2em;
  padding: 0 1% 0 1%;
  overflow: hidden;
}

.Source {
  font-size: 1em;
  padding: 0 1% 0 1%;
}

.Publish-time {
  font-size: 0.85em;
  padding-left: 1%;
  margin: 0;
}

.Sub-news-articles {
  width: 100%;
}

.Sub-article-group {
  display: flex;
  width: 800px;
}

.Sub-article {
  background-color: lightslategray;
  width: 50%;
  margin: 2%;
  overflow: hidden;
}

.Sub-Headline {
  width: 90%;
  padding: 0 1% 2% 1%;
  margin: 0;
  font-size: 1.2em;
}

.Sub-Source {
  margin: 0;
  padding: 0 1% 0 1%;
  font-size: 0.8em;
}

.Sub-publish-time {
  margin: 0;
  padding: 0 1% 0 1%;
  font-size: 0.8em;
}

.Sub-graph-container {
  display: flex;
}

.Primary-line-graph {
  width: 800px;
}

.Line-graph {
  width: 400px;
}

.Line-break {
  background-color: lightblue;
  height: 1vh;
}